
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> <!--vue cdn-->
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script> <!--axios cdn-->
<script>
    //vue로 사용하는 앱을 클래스 형태로 정의. 이건 vue앱을 생성하는 문법임. 클래스 만드는게 아니라
    //js코드는 따로 호출되지 않아도 html을 실행하면 자동으로 실행됨.
    const PostDetailApp = {
        delimiters:['[[',']]'], //vue랑 django템플릿을 둘 다 쓰고 있기 때문에 템플릿 충돌을 방지하기 위한 코드
        data(){ //post로 데이터를 받아온 값을 저장할 함수
            return{
                post: {}, //Django에서 보낸 Post 레코드 들을 json형태로 저장할 곳
                prevPost:{},
                nextPost:{},
                cateList:[],
                tagList:[],
            };
        },
        created(){
            console.log('created()...');
            //이 페이지에서는 페이지에 필요한 post레코드 1개가 필요함
            const postId = location.pathname.split('/')[3]; //url에 있는 post id 를 가져옴
            this.fetchPostDetail(postId);
            this.fetchCateTagList();
            
        },
        methods: {//함수 정의 부분
            fetchPostDetail(postId){
                console.log('fetchpostdetail()...',postId)
                axios.get(`/api/post/${postId}`) //파라미터로 들어가는 url로 비동기 get request
                .then(res => { //앞의 함수가 성공을 하면 실행. 성공했을 때 받은 response를 res에 받고 
                    console.log('FETCHPOSTDETAIL GET RES',res);
                    this.post = res.data.post; //받은 데이터를 data()안에 있는 post에 저장
                    this.prevPost = res.data.prevPost;
                    this.nextPost = res.data.nextPost;
                })
                .catch(err => { //앞 함수 실패시 실행
                    console.log("FETCHPOSTDETAIL GET ERR.RESPONSE",err.response);
                    alert(`${err.response.status}${err.respone.statusTExt}`);
                });
            },
            fetchCateTagList(){
                console.log("fetchCateTagList()...");
                axios.get('/api/catetag')
                .then(res =>{
                    console.log('FETCH CATETAG LIST RES',res);
                    this.cateList = res.data.cateList;
                    this.tagList = res.data.tagList;
                })
                .catch(err => {
                    console.error("Error fetching category and tag list:",err.response);
                    alert(`${err.response.status}${err.respone.statusTExt}`);
                });
            },
            serverPage(category='',tag=''){
                console.log("serverPage()...",category,tag);
                if (category && tag) alret(`serverPage( both args Error ${category} and ${tag})`);
                else if(category) location.href = `/?category=${category}#portfolio`;//query문이란. 서버에 get요청을 할 때 url뒤에 우리가 의도한 값을 추가해서 전달
                else if(tag) location.href = `/?tag=${tag}#portfolio`;// 이러면 127.0.0.1:8000/?tag='tag'#portfolio 이렇게 요청됨
                else location.href = '/#portfolio';
            },//query문을 추가해 get요청을 하는 동작을 하게 하는 이 함수는 post_detail의 태그 안에서 호출될 것이고, 
             //index페이지로 query문이 포함돼서 이동했을 때, index의 vue에서 get을 통해 장고의 view에 갈 때 view에서 url의 쿼리문을 가지고 원하는 데이터만 리턴하도록 수정

             likeCount(postId){
                console.log('likeCount()..',postId);
                axios.get(`/api/like/${postId}/`) //view에서 model에 있는 좋아요 1개 증가
                .then(res =>{ //증가한 좋아요를 다시 받아옴
                    console.log("LIKE-COUNT GET RES",res)
                    this.post.like = res.data; //받아온 값으로 이미 vue에서 정의해 좋은 like를 초기화

                })
                .catch(err => {
                    console.error("Error:",err.response);
                    alert(`${err.response.status}${err.respone.statusTExt}`);
                });
             },
            
        },

    };
Vue.createApp(PostDetailApp).mount('#page-top');
</script>
