{% extends 'base.html' %}
{% load static %}

{% block extra-style %}
<style>
    .my-image-h300{
        width: 100%;
        height: 300px;
        object-fit: cover; <!--들어오는 값 크기에 맞춤. cover 이미지가 박스보다 크면 잘라냄 ,fill 작으면 이미지 박스 크기를 키워서 맞춤, contain 이미지가 작을 때 비율에 맞춰서 적정 크기로 키움-->
    }
    .my-link:hover{
        cursor:pointer;
        color:#123;
    
    }
    .my-like:hover{
        cursor:pinter;
        color:red;
    }
</style>
{% endblock %}

{% block content %}
<!-- Page content-->
<section class='page-section' id='post'>
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">[[post.title]]</h1>
                        <hr />
                        <p>
                            <span>[[post.update_date]] &emsp;</span>
                            <i class='fas fa-copyright'></i> &nbsp; <!--i태그 -> icon을 사용하기 위한 태그 -->
                            <span class='my-link' @click="serverPage(post.category,'')">[[post.category]] &emsp;</span>
                            <i class='fas fa-tag'></i> &nbsp;
                            <span v-for="(tag,index) in post.tags" :key="index">
                                <span v-if='index !==0'>,</span>
                                <span class='my-link' @click="serverPage('',tag)">[[tag]]</span>
                            </span>
                            <span> &emsp;</span>
                            <span @click="likeCount(post.id)"><i class='fas fa-heart my-like'></i></span> &nbsp;
                            <span class='my-link' >[[post.like]]</span>
                        </p>
                        <hr />
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded my-image-h300" :src="post.image" alt="..." /></figure><!--태그에서 vue함수 사용시 바인딩 필요-->
                    <!-- Post content-->
                    <section class="mb-5">
                     <p>[[post.content]]</p>
                    </section>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <!-- @@@@ 중요 사항 @@@@ form에서 입력하는 요소의 이름을 모델의 속성값과 동일하게 넣어줘야함. %textarea 의 name 부분!! 안넣거나 잘못넣는 상황 많음. 까먹지 않기.-->
                            <form class="mb-4" id='comment-form'><textarea class="form-control" name = "content" rows="3" placeholder="Join the discussion and leave a comment!"></textarea>
                            <div class='d-felx justify-content-end mt-1'>
                                <div class='btn btn-primary btn-sm' @click="submitForm">SUBMIT</div>
                            </div>
                            </form>
                            <!-- Comment List-->
                            <div v-for="comment in commentList" :key="comment.id" class="d-flex mb-4">    
                                <div class="flex-shrink-0 my-comment-icon">
                                    <i class="fas fa-user-circle"></i>
                                </div>
                                <div class="ms-3">
                                    <div class="fw-bold">[[ comment.update_date ]]</div>
                                    <div class="my-content">[[ comment.content ]]</div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </section>
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Preview Post</div>
                    <div class="card-body my-link" @click="fetchPostDetail(prevPost.id)">[[prevPost.title]]</div>
                    <!-- @click="fetchPostDetail(prevPost.id)" -> 요소의 값을 누르면 vue함수를 실행시킬 수 있음.
                            이러면 url요청을 새로하지 않고 vue가 장고에서 데이터만 가져와 변경되는 부분만 바꾸기 때문에 
                            서버의 리소스도 아끼고 속도도 빠름. 이게 Vue를 사용하는 이유-->
                </div>
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Next Post</div>
                    <div class="card-body my-link" @click="fetchPostDetail(nextPost.id)">[[nextPost.title]]</div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            {% comment %} <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">Web Design</a></li>
                                    <li><a href="#!">HTML</a></li>
                                    <li><a href="#!">Freebies</a></li>
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    <li><a href="#!">JavaScript</a></li>
                                    <li><a href="#!">CSS</a></li>
                                    <li><a href="#!">Tutorials</a></li>
                                </ul>
                            </div> {% endcomment %}
                        </div>

                        <span v-for='(category, index) in cateList' :key="category.id">
                            <span v-if="index !==0">&emsp;</span>
                            <span class = " text-success my-link" @click="serverPage(category,'')">[[category]]</span>
                        </span>
                        
                    </div>
                </div>
                <!-- Tags widget-->
                <div class="card mb-4">
                    <div class="card-header">Tags</div>
                    <div class="card-body">
                        <span v-for='(tag, index) in tagList' :key="tag.id">
                            <span v-if="index !==0">&emsp;</span>
                            <span class = " text-success my-link" @click="serverPage('',tag)">[[tag]]</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra-script %}
{% include 'include/post_detail_vue.html' %}
{% endblock %}